.env
.streamlit/secrets.toml
catalog.db

/.venv/
.venv/
venv/

__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg-info/

dist/
build/
node_modules/
frontend/dist/
frontend/node_modules/
.pytest_cache/
.mypy_cache/

.DS_Store
.idea/
.vscode/
